---
import AppLayout from "../layouts/AppLayout.astro";
import playlist from '../data/playlist.json'
import Song from "../components/Song.astro";
console.log(playlist);

---

<AppLayout title="My Playlist">
	<div class="container p-4 mx-auto my-4">
		<section class="grid gap-4 xl:grid-cols-2">
			{
				playlist.map(song => <Song {song} />)
			}	
		</section>
	</div>
</AppLayout>